if SHIELD_SPLIT22_LEFT


config ZMK_KEYBOARD_NAME
    default "split22"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLIT22_LEFT || SHIELD_SPLIT22_RIGHT

config ZMK_SPLIT
    default y

endif